<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!--引入第三方框架UI-->
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet/less" href="css/base.less">
		<link rel="stylesheet/less" href="css/brand.less">
		<script type="text/html" id="mHtml">
			{{if result}} {{each result as v i}}
			<li>
				<a href="#">
					<div class="ml">
						<em>{{i+1}}</em>
					</div>
					<div class="mr">
						<div class="mr-t">
							{{v.brandName}}
						</div>
						<div class="mr-b">
							{{v.brandInfo}}
						</div>
					</div>
				</a>
			</li>
			{{/each}} {{/if}}
		</script>
		<script type="text/html" id="pmHtml">
			{{if result}} {{each result as v i}}
			<li>
				<a href="bijia.html?prId={{v.productId}}&catId={{v.categoryId}}&prName={{v.brandName}}">
					<div class="pic">
						{{#v.productImg}}
					</div>
					<div class="info">
						<div class="tit">
							{{v.productName}}
						</div>
						<div class="price">
							<em>{{v.productPrice}}</em>
							<span>★★★★★</span>
						</div>
						<div class="other">
							<em>{{v.productQuote}}</em>
							<em>{{v.productCom}}</em>
						</div>
					</div>
				</a>
			</li>
			{{/each}} {{/if}}
		</script>
		<script type="text/html" id="lmHtml">
			{{if result}} {{each result as v i}}
			<li>
				<a href="#" class="lm-tip">
					<div class="lm-tip-in">
						<div>
							<img src="http://pro.zuyushop.com:8015/ProPic/201411/small80/Thumb_2014110008364442033.jpg" />
						</div>
						<h5>LG 49LF5400 49英寸 全高清 普通LED液晶电视</h5>
					</div>
				</a>
				<div class="plbox">
					<a href="#">
						<div class="nt">
							<span>{{v.comName}}</span>：
							<em>★★★★★</em>
							<i>{{v.comTime}}</i>
						</div>
						<div class="plt">
							{{v.comContent}}
						</div>
					</a>

				</div>
			</li>
			{{/each}} {{/if}}
		</script>
		<script type="text/javascript" src="lib/less/less.js"></script>
		<script type="text/javascript" src="lib/template.js"></script>
		<title>天联比价商城</title>
	</head>

	<body>
		<!--头部-->
		<header id="header">
			<h1 class="logo"><a href="index.html" title="慢慢买-一款让你停不下来的app"><img src="images/header_logo.png" alt="" /></a></h1>
			<div class="app">
				<a href="http://liqucn.com/rj/363646.wml"><img src="images/header_app.png" alt="手机app下载" /></a>
			</div>
		</header>
		<!--搜索-->
		<section id="search">
			<form action="">
				<div class="searchBox">
					<input type="search" id="searchTxt" placeholder="请输入你想比价的商品名称" />
					<input type="button" id="searchBtn" value="搜索" />
				</div>
			</form>
		</section>
		<!--返回-->
		<section id="prTitle">
			<span><a href="index.html">首页</a></span>
			<span> > </span>
			<span id="titleName"><a href="brandTitle.html">品牌大全</a></span>
			<span> > </span>
			<span id="mdName"><a href="#"></a></span>
		</section>
		<!--品牌列表-->
		<section id="model">
			<div class="mt">
				<h3></h3>
			</div>
			<div class="mm">
				<ul>

				</ul>
			</div>
			<div class="pt">
				<h3></h3>
			</div>
			<div class="pm">
				<ul>

				</ul>
			</div>
			<div class="lt">
				<h3></h3>
			</div>
			<div class="lm">
				<ul>

				</ul>
			</div>
		</section>
		<!--底部-->
		<section id="footer">
			<div class="foot-top">
				<a href="#">登录</a>
				<a href="#">注册</a>
				<a href="#"><img src="images/foot-top.jpg" />返回顶部</a>
			</div>
			<div class="foot-bottom">
				<p>
					<a href="http://liqucn.com/rj/363646.wml">手机APP下载-</a>
					<a href="#">-天联比价-</a>
					-掌上比价平台
				</p>
			</div>
		</section>

		<!--js文件 注意引入的依赖关系-->
		<script src="lib/jquery/jquery.min.js"></script>
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="js/brand.js"></script>
	</body>

</html>