<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!--引入第三方框架UI-->
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet/less" href="css/base.less">
		<link rel="stylesheet/less" href="css/gsproduct.less">
		<script type="text/html" id="sel1Html">
			{{if result}} {{each result as v}}
			<li class="sel{{v.shopId}}" value="{{v.shopId}}">
				<a href="javascript:;">
					{{v.shopName}}
				</a>
			</li>
			{{/each}} {{/if}}
		</script>
		<script type="text/html" id="sel2Html">
			{{if result}} {{each result as v}}
			<li class="sel{{v.areaId}}" value="{{v.areaId}}">
				<a href="javascript:;">
					{{v.areaName}}
				</a>
			</li>
			{{/each}} {{/if}}
		</script>
		<script type="text/html" id="listHtml">
			{{if result}} {{each result as v}}
			<li>
				<a href="javascript:;">
					<div class="pic">
						<img src="{{v.productImg}}">
					</div>
					<div class="title">
						{{v.productName}}
					</div>
					<div class="other">
						<div class="price">
							{{v.productPrice}}
						</div>
						<div class="go">
							<button>去凑单</button>
						</div>
					</div>
				</a>
			</li>
			{{/each}} {{/if}}
		</script>
		<script type="text/javascript" src="lib/less/less.js"></script>
		<script type="text/javascript" src="lib/template.js"></script>
		<title>天联比价商城</title>
	</head>

	<body>
		<!--头部-->
		<header id="head">
			<div class="fh">
				<a href="javascrip:;" class="glyphicon glyphicon-menu-left"></a>
			</div>
			凑单品
			<div class="app">
				<a href="http://liqucn.com/rj/363646.wml"><img src="images/header_app.png" alt="手机app下载" /></a>
			</div>
		</header>
		<!--导航-->
		<section id="nav">
			<div class="nt-l">
				<ul>
					<li class="nav1">
						<a href="javascript:;">

						</a>
					</li>
					<li class="nav2">
						<a href="javascript:;">

						</a>
					</li>
					<li>
						<a href="javascript:;">
							全部价格
							<i class="glyphicon glyphicon-triangle-bottom"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="nt-s">
				<div class="glyphicon glyphicon-search"></div>
			</div>
			<div class="nt-sib">
				<input type="search" class="search" placeholder="搜索商品即可查内部券" />
				<input type="submit" class="btn" value="搜索">
			</div>
		</section>
		<!--选择-->
		<section id="sel">
			<ul>

			</ul>
		</section>
		<!--产品块-->
		<section id="prList">
			<ul>

			</ul>
		</section>
		<!--底部-->
		<section id="footer">
			<div class="foot-top">
				<a href="#">登录</a>
				<a href="#">注册</a>
				<a href="#"><img src="images/foot-top.jpg" />返回顶部</a>
			</div>
			<div class="foot-bottom">
				<p>
					<a href="http://liqucn.com/rj/363646.wml">手机APP下载-</a>
					<a href="index.html">-天联比价-</a>
					-掌上比价平台
				</p>
			</div>
		</section>

		<!--js文件 注意引入的依赖关系-->
		<script src="lib/jquery/jquery.min.js"></script>
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="js/gsproduct.js"></script>
	</body>

</html>