<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!--引入第三方框架UI-->
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet/less" href="css/base.less">
		<link rel="stylesheet/less" href="css/index.less">
		<script type="text/html" id="tpMenu">
			{{if result}} {{each result as v}}
			<div class="col-xs-3">
				<a href="{{ v.titlehref }}">
					<div class="mepic">
						{{ #v.img}}
					</div>
					<div class="mename">{{ v.name }}</div>
				</a>
			</div>
			{{/each}} {{/if}}
		</script>
		<script type="text/html" id="tpProduct">
			{{if result}} {{each result as v}}
			<a href="moneyproduct.html?prId={{v.productId}}">
				<div class="media">
					<div class="media-left">
						{{ #v.productImgSm }}
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{ v.productName }} </h4>
						<span>{{ v.productPinkage }}</span>
						<div class="other">
							<span class="mall">{{ v.productFrom }}|{{ v.productTime }}</span>
							<span class="pl-num"> {{ v.productComCount }}</span>
							<span class="pl"></span>

						</div>
					</div>
				</div>
			</a>
			}} {{/each}} {{/if}}
		</script>
		<script type="text/javascript" src="lib/less/less.js"></script>
		<script type="text/javascript" src="lib/template.js"></script>
		<title>慢慢买</title>
	</head>

	<body>
		<!--头部-->
		<header id="header">
			<h1 class="logo"><a href="#" title="慢慢买-一款让你停不下来的app"><img src="images/header_logo.png" alt="" /></a></h1>
			<div class="app">
				<a href="#"><img src="images/header_app.png" alt="手机app下载" /></a>
			</div>
		</header>
		<!--搜索-->
		<section id="search">
			<form action="">
				<div class="searchBox">
					<input type="search" id="searchTxt" placeholder="请输入你想比价的商品名称" />
					<input type="button" id="searchBtn" value="搜索" />
				</div>
			</form>
		</section>
		<!--菜单-->

		<section id="menu">
			<div class="container">
				<div class="row">

				</div>
			</div>
		</section>
		<!--商品推荐-->
		<section id="recommen">
			<h3>
			<a href="moneyctrl.html">
				超值折扣推荐
				<span src="images/" class="glyphicon glyphicon-menu-right" alt="" />
			</a>
		</h3>
			<div class="product">
				<div class="product-main">

				</div>
				<div class="morePd">
					<a href="inlanddiscount.html">
						更多优惠信息>>
					</a>
				</div>
			</div>
			<h3>
			<a href="brandTitle.html">
				品牌排行
				<span src="images/" class="glyphicon glyphicon-menu-right" alt="" />
			</a>
		</h3>
		</section>
		<!--底部-->
		<section id="footer">
			<div class="foot-top">
				<a href="#">登录</a>
				<a href="#">注册</a>
				<a href="#"><img src="images/foot-top.jpg"/>返回顶部</a>
			</div>
			<div class="foot-bottom">
				<p>
					<a href="#">手机APP下载</a>
					<a href="#">慢慢买手机版</a>
					--掌上比价平台
				</p>
				<p>m.manmanbuy.com</p>
			</div>
		</section>

		<!--js文件 注意引入的依赖关系-->
		<script src="lib/jquery/jquery.min.js"></script>
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="js/index.js"></script>
	</body>

</html>